#!/usr/bin/env bash
# export your github key or your gitlab key
# because of GitHub and GitLab handle the Token in
# defferent way, so there should be two ENV variable

# pick up your way and comment one of the next two line
# export GITHUB_SECRET="123"
# export GITLIB_SECRET="123"

echo 'Start Update Server'
git pull
npm install

if [ -f node_pid.txt ]; then
    echo 'kill PID' `cat node_pid.txt`
    kill `cat node_pid.txt`
fi

nohup node index.js > nohup.out & echo $! > node_pid.txt
